html, body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;   
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    color:darkorange;
    font-weight: 300; 
    text-align: center;  
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto; 
}

.brand {
    grid-column: 1 / span 4;
    grid-row: 1; 
    background-color: rgba(27, 175, 52, 0.464);
}

.page-links {
    grid-column: 1 / span 4;
    grid-row: 2;
    text-align: center;
    background-color: rgba(27, 175, 52, 0.464);
}

.main {
    grid-column: 1 / -1;
    grid-row: 3;
    width: 75vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button {
    font-size: 20px;
    color: white;
    background-color: #379EA8;
    padding: 2px 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: white; 
}

.home_splash{
    width: 100%;
    height:auto;
}

/* ... (Your existing CSS styles) ... */

.sports-section {
    display: flex;       /* This will arrange the child elements (figures) in a row */
    justify-content: space-between;  /* This will put some space between the figures */
    margin-bottom: 20px; /* Some bottom spacing for visual clarity */
}

.sport img {
    max-width: 100%;   /* Ensures the image scales down if it's too large */
    height: auto;      /* Maintains the image's aspect ratio */
}

.sport {
    flex: 1;         /* Allows each sport to take an equal amount of space */
    margin: 0 10px;  /* Gives each figure a little margin on left and right */
}


.sport figcaption {
    color: #000; /* Adjust the color based on your design */
    font-size: 16px; /* Caption font size */
    margin-top: 5px; /* Space at the top of the caption */
}


.buttons-section {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 20px auto;
}

.btn {
    padding: 10px 20px;
    background-color: #cfe8fc;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px auto;
}

#searchBar {
    width: 80%;
    padding: 5px;
}

#searchButton {
    width: 18%;
    background-color: #379EA8;
    color: white;
    border: none;
    cursor: pointer;
}
/* Flexbox layout for overall page */
flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


@media only screen and (min-width: 1195px) {
    .flex-header-menu {
        display: block; /* Show the header */
    }
}

.flex-header-menu, .flex-footer-menu, .flex-side-menu {
    flex-shrink: 0;
    background-color: #000;
    color: #fff;
    padding: 0px 4px 0px 4px;
}



.flex-side-menu {
    display: none; /* Hide the side menu */
}

.flex-footer-menu {
    display: block; /* Show the footer */
}
