body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
}

header {
    display: flex;    /* Arranges the header contents in a row */
    justify-content: space-between;
    align-items: center;   /* Aligns items on the cross-axis */
    padding: 20px 50px;
    
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adds a shadow below the header */

    background-color: white;
    color: #007BFF;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px; /* Sets the maximum width of the logo */
}

.logo-text {
    font-size: 35px;
    margin-left: 10px; 
    font-weight: bold; 
    color:black;
}


.menu a {
    color: #007BFF;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;    /* Rounds the corners of menu links */
    transition: background-color 0.3s;  /* Adds a transition effect when hovering over menu links */
    font-weight: bold;
}
.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu a.active {
    background-color: #e6e6e6;
}

.headline {
    background: #e6e6e6;
    padding: 100px 0;
    text-align: center;
}

.headline h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 600;
    color:#007BFF;
}

.headline p {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 300;
    color: #1E4A7B;
}

.headline button {
    padding: 10px 30px;
    border: none;
    background: #1E4A7B;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
}

.content {
    padding: 50px;
    max-width: 100%;
    margin: 0 auto; /* centers the container */

}
.team {
    display: grid;

    gap: 20px;
}

.team img {
    max-width: 100%; /* Adjust pixel value to your desired maximum width */
    height: auto;
}
/* Existing styles... */
/* Contact Form Styles */
#contact-form {
    margin-top: 50px;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form input[type="submit"] {
    background-color: #1E4A7B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#contact-form input[type="submit"]:hover {
    background-color: #007BFF;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    .logo-text {
        font-size: 24px; /* adjust as needed */
    }
    .headline h1 {
        font-size: 2em; /* adjust as needed */
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        margin: 10px 0;
    }
    .team {
        grid-template-columns: 1fr; /* single column layout */
    }
}







