body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;       /* Removes the margin around the body element */
    padding: 0;      /* Removes the padding around the body element */
    background-color: #f4f4f4;
}

header, article, footer {
    margin: 20px;    /* Adds margin around the header, article, and footer elements */
    padding: 20px;
    background-color: #fff;
}

header {
    text-align: center;
}

article img {
    max-width: 100%;    /* Adds margin around the header, article, and footer elements */
    height: auto;
    display: block;
    margin: 0 auto;
}

article section {
    margin-top: 20px;
}

article section h2 {
    font-size: 24px;
}

footer {
    text-align: center;
}
