/* Resetting some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

body {
    background: linear-gradient(to bottom, #b3cde0, white);
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
body::before {
    content: "";    
    position: absolute;   
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #b3cde0, white);
    z-index: -1;    
    top: 10%;
    left: 10%;
}

body::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #b3cde0, #e6f2ff);
    z-index: -1;
    bottom: 10%;
    right: 10%;
}




/* Header styles */
header {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.logo-container {
    flex: 1; /* Allow the logo to take up the remaining space */
    display: flex;
    align-items: center;
}
.logo {
    flex: 1;
    max-width: 50px;  
    max-height: 50px;
    object-fit: contain; /* 保持图片的纵横比 */

}
/* Hide the side menu by default */

/* Style for the active link */
.nav-link.active {
    background-color: #007BFF;
    color: white;
}
nav.main-nav {
    display: flex; /* 添加这一行 */
    gap: 10px; /* 如果需要，可以增加间距 */
}

nav.main-nav a {
    flex: 2; 
    display: flex;
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

nav.main-nav a:hover, nav.main-nav a:focus {
    background-color: #0056b3;
    color: #fff;
}

.user-actions a {
    text-decoration: none;
    color: #333;
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex:1;
}

/* Main content styles */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Take the full height of its parent */
}

.location-icon, .location-input, .input-box select{
    margin-right: 10px;
}

.location-icon {
    width: 40px;
    height: 40px;
}



.strength-exercises {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.strength-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;    /* Allow the elements to wrap */
}

.strength-why, .strength-how, .strength-when {
    flex: 1;     /* Allow the elements to take up the same amount of space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.strength-why h3, .strength-how h3, .strength-when h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .strength-content {
        flex-direction: column;
    }
}

.events-section {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Optional: Adds some space between the elements */
}

#toggleFormButton {
    flex-basis: 150px; /* Set a fixed width */
}

#eventsContainer {
    flex-grow: 1; /* Allow it to take up the remaining space */
}

#eventForm {
    display: none; /* Hide the form by default */
}

.card {
    background-color: rgba(0, 123, 255, 0.8);
   
    padding: 20px;
    color: white; /* Changed text color to white for better contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 50vw;
    height: 50vw;
    margin: 0 auto; 
    overflow: hidden;
}
.row .card {
    margin: 20px 0px 20px 20px;
}

.card img {
    width: 100%; 
    height: 300px;  
    object-fit: cover;  /*cut the image to fit the container */
    display: block;
    margin: 0 auto;
}
.card:hover {
    transform: translateY(-10px);   /* Move the card up by 10px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Form container */
form {
    background-color: #f9f9f9;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input fields and textarea */
form input[type="text"],    /* Selects all <input> elements of type text */
form textarea,
form select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s;    /* Add a transition effect when the border color changes */
}

form input[type="text"]:focus,
form textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);     
}

/* Submit button */
form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

#eventForm {
    display: none;
}

#eventForm.visible {
    display: block;
}

/* Button Styles */
#toggleFormButton {
    background-color: #2c3e50;
    border: none;                          /* Remove borders */
    color: white; 
    padding: 10px 20px;                /* Some padding */
    text-align: center;               /* Centered text */
    text-decoration: none;           /* Remove underline */
    display: inline-block;           /* Display as inline-block */
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;                 /* Pointer/hand icon on hover */
    border-radius: 12px;                 /* Rounded corners */
    transition-duration: 0.4s; 
    max-width: 70px;
    max-height: 70px;
}

#toggleFormButton:hover {
    background-color: white; 
    color: #4CAF50; 
}

.community-section {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    padding: 20px 0; /* Add some padding on top and bottom */
    border-top: 1px solid #e0e0e0; /* Add a border on top for visual separation */
    margin: 20px 0; /* Add some margin for spacing */
}

.community-image {
    flex: 1; /* This will allow the image container to take up equal space as the text */
    display: flex;
    justify-content: center; /* This will center the image within its container */
}

.community-text {
    flex: 1; 
    font-size: bold;

}    /* Add some space between the image*/
                            

.footer-content,
.footer-bottom {
    display: block; /* Ensure it's a block-level element */
    justify-content: center;  /
    align-items: center;
    height: 100%; /* This will ensure the content takes up the full height of the footer */
    padding: 20px 0;
    background-color: #2c3e50;
    color: #ecf0f1;
}

.footer-brand,
.footer-links,
.footer-section {
    margin-bottom: 20px;
    
}

.footer-brand h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li a {
    color: #ecf0f1;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #34495e;
    margin-top: 20px;
}
